<footer role="Contentinfo" id="Footer" class="Footer">
  <a class="Footer__btn" aria-label="go-menu" href="#Header" title="Go-to-menu"></a>
    <!-- <img class="Footer-btn--ico" src="./assets/images/ico-arrow.svg" alt="Arrow-up" title="Go-to-menu"
  /> </a> -->
  <nav class="Footer__list" role="Navigation-secundary">
    <ul class="Footer__list-1">
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Articles">Articles</a>
      </li>
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Books">Books</a>
      </li>
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Events">Events</a>
      </li>
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Reasons">Reasons</a>
      </li>
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Tips">Tips</a>
      </li>
    </ul>

    <ul class="Footer__list-2">
      <li><a class="Footer__list--links" href="https://adalab.es/" title="Twitter">Twitter</a></li>
      <li><a class="Footer__list--links" href="https://adalab.es/" title="Instagram">Instagram</a></li>
      <li><a class="Footer__list--links" href="https://adalab.es/" title="Mastodon.social">Mastodon.social<a></li>
    </ul>
    <div class="Footer__copy">
    <small class="Footer__copy">
      @ 2017
      <p>we <span class="Footer__copy--emoji">&#10084</span> components</p>
    </small>
  </div>
  </nav>
</footer>

<!-- Emoji ❤ -->