<footer role="Contentinfo" id="Footer" class="Footer">
  <a class="Footer__btn" aria-label="go-menu" href="#Header" title="Go-to-menu">
    <img class="Footer-__btn--ico" src="./assets/images/ico-arrow.svg" alt="Arrow-up" title="Go-to-menu"
  /> </a>
  <nav class="Footer__list" role="Navigation-secundary">
    <ul class="Footer__list-1">
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Articles">Articles</a>
      </li>
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Books">Books</a>
      </li>
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Events">Events</a>
      </li>
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Reasons">Reasons</a>
      </li>
      <li>
        <a class="Footer__list--links" href="https://adalab.es/" title="Tips">Tips</a>
      </li>
    </ul>
    <ul class="Footer__list-2">
      <li><a class="Footer__list--links" href="https://adalab.es/" title="Twitter">Twitter</a></li>
      <li><a class="Footer__list--links" href="https://adalab.es/" title="Instagram">Instagram</a></li>
      <li><a class="Footer__list--links" href="https://adalab.es/" title="Mastodon.social">Mastodon.social<a></li>
    </ul>
    <ul class="Footer__list-3">
      <li> 
        <small class="Footer__list-3--copy">@2017</small>
      </li>
      <li>
        <p>we <span class="Footer__list-3--emoji">&#10084</span> components</p>
      </li>
    </ul>
  </nav>
</footer>

<!-- Emoji ❤ -->