<header role="Banner" id="Header">
  <!-- img: css: background-image, size, cover// <img
    src="./assets/images/cover.jpg"
    alt="city view"
    title="Vista de ciudad"
  /> -->

  <nav role="Navigation-primary" aria-label="Menu-navigation">
    <a href="https://adalab.es/" title="Go-to-menu">
      <img src="/assets/images/ico-menu.svg" alt="Menu" title="Go-to-menu" />
    </a>
  </nav>

  <h1>Anonymous proxy</h1>
  <h2>In hac habitasse platea dictumst.</h2>
  <a aria-label="Go-contentinfo" href="#Footer" title="Go-to-contentinfo">
    <img
      src="./assets/images/ico-scroll-down.svg"
      alt="Scroll-down"
      title="Go-to-contentinfo"
    />
  </a>
</header>
