<header role="Banner" id="Header" class="Header">
  <nav
    class="Header__burger"
    role="Navigation-primary"
    aria-label="Menu-navigation"
  >
    <a href="https://adalab.es/" title="Go-to-menu">
      <img
        class="Header__burger--icon"
        src="/assets/images/ico-menu.svg"
        alt="Menu"
        title="Go-to-menu"
      />
    </a>
  </nav>
  <div class="Header__container">
    <img
      class="Header__container--img"
      src="./assets/images/cover.jpg"
      alt="city view"
      title="Vista de ciudad"
    />
  </div>
  <h1 class="Header__title">Anonymous proxy</h1>
  <h2 class="Header__subtitle">In hac habitasse platea dictumst.</h2>
  <a
    class="Header__scrolldown"
    aria-label="Go-contentinfo"
    href="#Footer"
    title="Go-to-contentinfo"
  >
    <img
      class="Header__scrolldown--icon"
      src="./assets/images/ico-scroll-down.svg"
      alt="Scroll-down"
      title="Go-to-contentinfo"
    />
  </a>
</header>
