<header role="Banner" id="Header" class="Header">
  <nav
    class="Header__burger"
    role="Navigation-primary"
    aria-label="Menu-navigation"
  >
    <a class="Header__burger--ico" href="https://adalab.es/" title="Go-to-menu">
      <img
        class="Header__burger--icon"
        src="./assets/images/ico-menu.svg"
        alt="Menu"
        title="Go-to-menu"
      />
    </a>
  </nav>
  <!-- prueba de menu desplegable -->
  <!-- <label for="Menu">Opciones de menu</label>
  <select name="Menu" id="Menu">
    <option value="More Reason">More reason</option>
    <option value="Go">Go</option>
    <option value="Links">Links</option>
  </select> -->

  <h1 aria-label="Slogan" class="Header__title">Anonymous proxy</h1>
  <h2 class="Header__subtitle">In hac habitasse platea dictumst.</h2>
  <a
    class="Header__btn--scroll"
    aria-label="Go-contentinfo"
    href="#Footer"
    title="Go-to-contentinfo"
  >
    <img
      class="Header__scrolldown--icon"
      src="./assets/images/ico-scroll-down.svg"
      alt="Scroll-down"
      title="Go-to-contentinfo"
    />
  </a>
</header>
