<section class="Section-2">
  <div class="Section-2__container">
    <h3 class="Section-2__container--item1">3 Reason to purchase</h3>
    <article class="Section-2__container--item2">
      <h4>Ut sed metus</h4>
      <p class="Section-2__container--p">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </article>
    <article class="Section-2__container--item3">
      <h4>Curabitur ac erat</h4>
      <p class="Section-2__container--p">
        Mauris mattis urna quis lorem molestie.
      </p>
    </article>
    <article class="Section-2__container--item4">
      <h4>Morbi dictum</h4>
      <p class="Section-2__container--p">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </article>
    <button
      class="Section-2__btn"
      aria-label="More-reasons"
      title="More-reason"
    >
      More reasons
    </button>
  </div>
</section>
