//background html
$color-background-main-section-1: #ffffff;
$color-background-main-section-2: #eff9ff;
$color-background-footer: #304268;

//font
$font-face: "Roboto Slab", serif;
$font-regular: normal;
$font-bold: bold;
$font-medium: medium;

//font__colors
$font-color-dark: #000000;
$font-color-medium: #4a4a4a;
$font-color-midtone: #f26002;
$font-color-medium-ligth: #8ccbea;
$font-color-light: #ffffff;

// colors
$color-light: #ffffff;
$color-light-midtone: #8ccbea;
$color-midtone: #f26002;
$color-dark-midtone: #0271bc;
$color-dark: #304268;
