// fonts (general)
$font-face: "RobotoSlab";
$font-size-main: 18px;
$font-weight: bold;
$fontLineHeigth-Regular: 30px;

// colors (generals)
$color-light: #ffffff;
$color-light-midtone: #8ccbea;
$color-midtone: #f26002;
$color-dark-midtone: #0271bc;
$color-dark: #304268;

$color-backgroung-Section-2: #eff9ff;

// header
// main
// footer
$colorFooter-backgound: #304268;
$color-btn-background: #ffffff;
$color-btn: #f26002;
$colorFooter-text: #ffffff;
$fontFamily-footer: "Roboto-Regular";
$fontSize-footer-list: 16px;
$fontSize-copy: 14px;
$fontLineHeigth-Regular: 30px;

// butons
