// fonts
// $font-main: "Roboto", sans-serif;

// colors $color

// footer
$colorFooter-backgound: #304268;
$color-btn-background: #ffffff;
$color-btn: #f26002;
$colorFooter-text: #ffffff;
$fontFamily-footer: "Roboto-Regular";
$fontSize-footer-list: 16px;
$fontSize-copy: 14px;
$fontLineHeigth-Regular: 30px;
