.Footer {
  width: 100vw;
  background-color: $color-dark;
  color: $font-color-light;
  position: relative;
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 15px 45px 15px;
}
.Footer__btn {
  width: 45px;
  height: 45px;
  background-color: $color-light;
  border-radius: 22.5px;
  position: absolute;
  top: -22px;
  transition: ease 0.4s;
  animation-name: bnt-arrow;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
  // background-image: url(../images/ico-arrow.svg);
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // position: absolute;
  // top: -25px;
}
@keyframes bnt-arrow {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    // transition: ease;
    transform: translateY(0px);
  }
}

.Footer-__btn--ico {
  width: auto;
  padding: 11px 12px 10px 12px;
  animation-name: arrow;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
}

@keyframes arrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}

.Footer__list-1,
.Footer__list-2 {
  padding-bottom: 30px;
  list-style: none;
}
.Footer__list--links {
  list-style: none;
  text-decoration-line: none;
  text-transform: uppercase;
  color: $color-light;
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.Footer__copy {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}
.Footer__copy--emoji {
  color: $color-midtone;
}

@media all and (min-width: 768px) {
  .Footer__list {
    display: flex;
    flex-direction: row-reverse;
  }
  .Footer__copy,
  .Footer__list-1,
  .Footer__list-2 {
    padding: 0 30px 0 0;
  }
  .Footer__copy {
    order: -1;
  }
}

@media all and (min-width: 1280px) {
  .Footer__list {
    display: flex;
    flex-direction: row-reverse;
  }
  .Footer__copy,
  .Footer__list-1,
  .Footer__list-2 {
    padding: 0 15px 0 0;
  }
  .Footer__copy {
    order: -1;
  }
}
