.Footer {
  width: 100vw;
  background-color: $color-background-footer;
  color: $font-color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 15px 45px 15px;
  text-align: center;
}
.Footer__list {
  font-family: $font-face;
  font-weight: $font-regular;
}
.Footer__btn {
  width: 45px;
  height: 45px;
  background-color: $color-light;
  border-radius: 22.5px;
  align-self: center;
  position: static;
  transform: translateY(-70px);
  transition: ease 0.4s;
  animation-name: bnt-arrow;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
}
@keyframes bnt-arrow {
  0% {
    transform: translateY(-71px);
  }
  50% {
    transform: translateY(-73px);
  }
  100% {
    transform: translateY(-70px);
  }
}

.Footer-__btn--ico {
  width: auto;
  padding: 11px 12px 10px 12px;
  animation-name: arrow;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
}

@keyframes arrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}

.Footer__btn:hover {
  background-color: $color-dark;
  transition-property: color;
  transition-delay: 0.2s;
  transition-timing-function: ease;
}

.Footer__list-1,
.Footer__list-2,
.Footer__list-3 {
  padding-bottom: 30px;
  list-style: none;
}
.Footer__list--links {
  list-style: none;
  text-decoration-line: none;
  text-transform: uppercase;
  color: $color-light;
  font-size: 16px;
  line-height: 30px;
  font-family: "Roboto-regular", serif;
  font-weight: normal;
}
.Footer__list--links:hover {
  color: $color-midtone;
}
// Problema con reconocimiento en Chorme de: Font-family: 'Roboto Slab', serif.
// No añadida variable. Error consola: Font-family: 'Roboto-Regular', serif.

.Footer__list-3--copy {
  font-size: 14px;
  line-height: 30px;
  font-family: "Roboto-regular", serif;
  font-weight: normal;
}
.Footer__list-3--emoji {
  color: $color-midtone;
}

@media all and (min-width: 768px) {
  .Footer__btn {
    align-self: center;
  }
  .Footer__list {
    text-align: start;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .Footer__list-1 {
    padding-left: 80px;
  }
  .Footer__list-2 {
    padding-left: 80px;
    order: -3;
  }
}

@media all and (min-width: 1280px) {
  .Footer__list {
    display: flex;
    flex-direction: row-reverse;
  }
}
