.Header {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Header__burger {
  width: 44px;
  height: 44px;
  background-color: $color-dark-midtone;
  z-index: 1;
  align-self: flex-start;
  position: fixed;
  top: 0;
}

.Header__burger--icon {
  width: auto;
  padding: 15px 14px 15px 14px;
}

.Header__title {
  width: 290px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: $font-color-light;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 55px;
}
.Header__subtitle {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: $color-light;
  padding: 0 15px 0 15px;
  align-content: flex-end;
}

.Header__btn--scroll {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  padding: 14px 12px 12px 12px;
  background-color: $color-light;
  align-self: center;
  margin-top: 45px;
  margin-bottom: 53px;
}
.Header__scrolldown--icon {
  width: auto;
}

@media all and (min-width: 768px) {
  .Header__title {
    width: 690px;
    font-size: 80px;
    line-height: 106px;
  }
  .Header__subtitle {
    width: 690px;
    font-size: 24px;
  }
}

@media all and (min-width: 1280px) {
  .Header__title {
    width: 730px;
    font-size: 100px;
    line-height: 132px;
  }
  .Header__subtitle {
    width: 730px;
    font-size: 24px;
    line-height: normal;
  }
}
