.Header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.Header__burger {
  width: 44px;
  height: 44px;
  background-color: $color-dark-midtone;
  z-index: 1;
  align-self: flex-start;
  position: fixed;
  top: 0;
  background-image: url(../images/ico-menu.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Header__burger--ico {
  width: auto;
  padding: 15px 14px 15px 14px;
}

.Claim {
  margin-top: 284px;
  padding: 0 15px 0 15px;
}
.Header__title {
  width: 290px;
  font-family: $font-face;
  font-weight: $font-weight;
  color: $color-light;
  text-transform: uppercase;
  font-size: 42px;
  padding: 0 15px 10px 15px;
  line-height: 55px;
}
.Header__subtitle {
  width: 290px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  text-align: center;
  color: $color-light;
  padding: 0 15px 0 15px;
  align-content: flex-end;
}

.Header__btn--scroll {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-light;
  background-image: url(../images/ico-scroll-down.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // width: auto;
  padding: 18px 12px 15.3px 13px;
}

@media all and (min-width: 768px) {
  .Claim {
    width: 100%;
    height: 100vh;
    margin-top: 384px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .Header__title {
    width: 690px;
    font-size: 80px;
    line-height: 106px;
  }
  .Header__subtitle {
    width: 690px;
    font-size: 24px;
  }
}

@media all and (min-width: 1280px) {
  .Claim {
    width: 100%;
    height: 100vh;
    margin-top: 384px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .Header__title {
    width: 730px;
    font-size: 100px;
    line-height: 132px;
  }
  .Header__subtitle {
    width: 730px;
    font-size: 24px;
    line-height: normal;
  }
}
