.Section-2 {
  width: 100%;
  height: auto;
  font-family: "RobotoSlab";
  font-weight: bold;
  color: $font-color-dark;
}
.Section-2__container {
  padding: 30px 15px 60px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 60px;
  background-color: $color-background-main;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.Section-2__container--p {
  font-family: "Roboto-Regular";
  font-size: 18px;
  line-height: 30px;
  grid-gap: 60px;
}
.Section-2__container--item1 {
  grid-column-start: span 3;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;
  font-family: "RobotoSlab";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Section-2__container--item2 {
  grid-column-start: 2;
}
.Section-2__container--item3 {
  grid-column-start: 2;
}
.Section-2__container--item4 {
  grid-column-start: 2;
}
.Section-2__container--item5 {
  grid-column-start: 2;
  grid-auto-flow: row;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  border-color: transparent;
  background-color: $color-midtone;
  font-family: "Roboto-Medium";
  font-size: 20px;
  line-height: 45px;
  color: $color-light;
}

@media all and (min-width: 768px) {
  .Section-2 {
    width: 100%;
    height: auto;
    grid-auto-flow: row;
  }
  .Section-2__container--item1 {
    font-size: 26px;
    line-height: 45px;
  }
  .Section-2__container--item2 {
    font-size: 26px;
    line-height: 45px;
    grid-area: 2;
  }
  .Section-2__container--item3 {
    font-size: 26px;
    line-height: 45px;
    grid-area: 2;
  }
  .Section-2__container--item4 {
    font-size: 26px;
    line-height: 45px;
    grid-area: 2;
  }
  .Section-2__container--item5 {
    font-size: 26px;
    line-height: 45px;
    // position: relative;
    // left: 6.5%;
  }
}

// meter media 1280

@media all and (min-width: 1280px) {
  .Section-2__container--item5 {
    width: 255px;
    height: 45px;
    font-size: 26px;
    line-height: 45px;
    // position: relative;
    // left: 25%;
  }
}
