// @import 'core/variables';
@import "core/reset";
@import "layout/header";
@import "layout/main-section-1";
// @import 'layout/footer';

// section-2
.Section-2 {
  width: 100%;
  height: auto;
  font-family: "RobotoSlab";
  font-weight: bold;
  color: #000000;
  position: relative;
}
.Section-2__container {
  padding: 30px 15px 60px 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: #eff9ff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.Section-2__container--p {
  font-family: "Roboto-Regular";
  font-size: 18px;
  line-height: 30px;
}
.Section-2__container--item1 {
  grid-column-start: 1;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;
  font-family: "RobotoSlab";
  font-weight: bold;
}
.Section-2__container--item2 {
  grid-column-start: 1;
}
.Section-2__container--item3 {
  grid-column-start: 1;
}
.Section-2__container--item4 {
  grid-column-start: 1;
}
.Section-2__container--item5 {
  grid-column-start: 1;
  grid-auto-flow: row;
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  border-color: transparent;
  background-color: #f26002;
  font-family: "Roboto-Medium";
  font-size: 20px;
  line-height: 45px;
  color: #ffffff;
}

// footer
.Footer {
  background-color: #304268;
  color: #ffffff;
}
.Footer__btn {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 100%;
}
.Footer__list--links {
  text-decoration-line: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto-Regular";
  font-size: 16px;
  line-height: 30px;
}
.Footer__copy {
  font-family: "Roboto-Regular";
  font-size: 14px;
}
.Footer__copy--emoji {
  color: #f26002;
}
// a:link {
//   color: #ffffff;
//   text-decoration: none;
//   text-transform: uppercase;
// }
