// @import 'core/variables';
// @import 'core/reset';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// header

.Header {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/assets/images/cover.jpg");
  background-position: center;
  background-size: cover;
}
.Header__burger {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  z-index: 1;
  align-self: flex-start;
  position: fixed;
  top: 0;
}
.Header__burger--icon {
  width: auto;
  padding: 15px 14px 15px 14px;
}

.Claim {
  margin-top: 284px;
  padding: 0 15px 0 15px;
}
.Header__title {
  width: 290px;
  font-family: "Roboto";
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 42px;
  padding: 0 15px 10px 15px;
  line-height: 55px;
}
.Header__subtitle {
  width: 290px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  text-align: center;
  color: white;
  padding: 0 15px 0 15px;
  align-content: flex-end;
}

.Header__scrolldown {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: #ffffff;
  margin: 45px 137px 53px 137px;
}

.Header__scrolldown--icon {
  width: auto;
  padding: 18px 12px 15.3px 13px;
}

// main-section-1

.Section-1 {
  background-color: #ffffff;
}
// main-section-2
.Section-2 {
  background-color: #eff9ff;
}

// footer
.Footer {
  background-color: #304268;
}
